body {
  background-color: #fff !important;


}

.page-wrapper {
  border: 2px solid #CCFF99;
  border-radius: 8px;
  min-height: 100vh;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 12px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
}

.search-box {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;

}

.search-box i {
  position: absolute;
  top: 58%;
  left: 96px;
  transform: translateY(-50%);
  color: #9ca3af;
  font-size: 16px;
  pointer-events: none;
}

.search-box input {
  width: 1000px;
  height: 40px;
  padding: 4px 25px;
  /* border: 1px solid #ccc; */
  border-radius: 15px;
  margin-top: 5px;
  font-size: 16px;
  border: 2px solid #CCFF66;

}

.search-box input:focus {
  border: 3px solid #99CC33;
}

.filter-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  text-align: center;
  justify-content: center;
}

.filter-tag {
  margin-top: 4px;
  display: block;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 14px;
  cursor: pointer;
  border: 2px solid #CCFF00;
  margin-bottom: 20px;
}

/* .filter-tags:has(.filter-tag.active) .filter-tag.active {
  background-color: #e6f7ff;
  border-color: #87c0f2;
  color: #2d8cdb;
} */

.filter-tag:hover {
  background-color: #99CC33;
  border-color: #99CC66;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  height: 1000px;
  margin-top: 10px;
  border: 1px solid #fff;
  border-radius: 16px;
  padding: 10px;
}

.card {
  /* border: 1px solid #CCCCCC; */
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 10px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: all .2s ease;
}

.card:hover {
  border-color: #d1d5db;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}

.post-card {
  display: flex;
  position: relative;
}

.post-card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #CCFF66;
  margin-right: 10px;
}

.post-card .poat-author-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 10px;
}

.post-author-info .post-time {
  color: #CCCCCC;
}

.post-content {
  margin-top: 10px;
  margin-bottom: 7px;
}

.card span {
  margin-right: 10px;
}

.action-btn.like.active,
.action-btn.collect.active {
  color: #ff4d4f;
}